<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>Jan 2019 – Dec 2020</p>
            <h5>Master's Degree</h5>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Master of Science – IT &amp; Management</div>
            <h4 class="category">Illinois Institute of Technology, Chicago, IL (USA)</h4>
            <span><b>Specialization: </b>Data Analytics &amp; Management</span>
            <br><br>
            <span><b>Certifications:</b></span>
            <ul>
              <li>Microsoft Azure Data Fundamentals</li>
              <li>PSPO (Professional Scrum Product Owner)</li>
              <li>Agentic AI</li>
              <li>RAG (Retrieval-Augmented Generation)</li>
              <li>AI Agents for Product Leaders</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>Aug 2010 – Jun 2014</p>
            <h5>Bachelor's Degree</h5>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Technology – Computer Science &amp; Engineering</div>
            <h4 class="category">University College of Engineering, Kota, India</h4>
            <ul>
              <li>B.Tech in Computer Science &amp; Engineering</li>
              <li>Published: <i>Exploratory Analysis of Chicago Taxi Rides</i> (ACM Publication)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
